.menu {
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
    z-index: 100; 
}

.elfsight-app-8b5a7da8-0f09-421b-b8b9-aebed51aa839 {
    z-index: 1; 
    position: relative;
    margin: 3%;
}

.menu a {
    display: block;
    float: left;
    color: white;
    text-decoration: none;
    padding: 14px 12px;
}

.menu a:hover {
    background-color: white;
    color: #333;
}

body {
    margin: 0;
    min-height: 100vh;
    color: white;
    background-color: royalblue;
    font-family: 'Exo 2', sans-serif;
}
footer{
    color: white;
    background-color: #333;
    height: auto;
    padding: 10px;
}