.menu {
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
}

.menu a {
    display: block;
    float: left;
    color: white;
    text-decoration: none;
    padding: 14px 12px;
}

.menu a:hover {
    background-color: white;
    color: #333;
}

body {
    margin: 0;
    min-height: 100vh;
    color: white;
    background-color: royalblue;
    font-family: 'Exo 2', sans-serif;
}

.box-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../other-images/stadion.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 525px;
    display: flex;
    justify-content: center;  
    align-items: center;     
     
}

.text-1 {
    text-align: center;       
}

.center-text {
    color: white;
    letter-spacing: 5px;
    margin: 0;
    font-size: 400%;              
}
.text-1 a{
    text-decoration: none;
    display: block;
    background-color: white;
    padding: 5px;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    border-radius: 10px;
}
footer{
    color: white;
    background-color: #333;
    height: auto;
    padding: 10px;
}
.mecz-info{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    
    
}
.logo{
    width: 125px;
    height: 125px;
}
.mecz-info-text{
    text-align: center;
    padding: 8px;
}
.next-sign{
    text-align: center;
    letter-spacing: 5px;
    margin-top: 25px;
    display: block;
    background-color: white;
    color: royalblue;
    padding: 5px;
}


